<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Crypto Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/saved">Saved Prices</a>
      </li>
      <li class="active">
        <a class="btn btn-danger scrape-new">GET NEW PRICES!</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">

  </div>
  <div class="background-image">

  </div>
  <div class="caption">
    <h1>Crypto Scraper</h1>
  </div>
</div>

<div class="container-fluid article-container">

</div>

<footer class="footer">
  <div class="container">
    <p>Crypto market price scraper</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/index.js"></script>