body {
  font-family: 'Arimo', sans-serif;
}

#menu-bar{
  background-color:#34495e;
  padding-bottom: 10px;
  padding-top: 10px;
}

#menu-bar span{
  color: white;
  padding: 15px;
}
#titleName{
  color:white;
  padding:30px;
  font-size: 20px;
  margin-left: 40px;
}

#imageHolder{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/crypto_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding:50px;
}

#page-name{
  text-align:center;
  color:white;
}


